name: Sync

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

concurrency:
  group: sync

jobs:
  export:
    runs-on: ubuntu-24.04

    outputs:
      pushed: ${{ steps.commit.outputs.committed }}

    permissions:
      contents: write

    steps:
      - name: Checkout main branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Checkout data branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: "data"
          path: "data"

      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

      - name: Install dependencies
        run: uv sync

      - name: Export data
        run: |
          uv run trakt-data export --output-dir data/
        env:
          TRAKT_CLIENT_ID: ${{ secrets.TRAKT_CLIENT_ID }}
          TRAKT_ACCESS_TOKEN: ${{ secrets.TRAKT_ACCESS_TOKEN }}
          TRAKT_DATA_EXCLUDE: ${{ vars.TRAKT_DATA_EXCLUDE }}

      - name: Commit changes
        id: commit
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          if git commit --message "Update data"; then
              echo "committed=true" >>"$GITHUB_OUTPUT"
          else
              echo "committed=false" >>"$GITHUB_OUTPUT"
          fi
        working-directory: data/

      - name: Push changes
        if: steps.commit.outputs.committed == 'true'
        run: git push origin refs/heads/data
        working-directory: data/

  metrics:
    needs: export
    runs-on: ubuntu-24.04

    outputs:
      deployed-checksum: ${{ steps.deployed-checksum.outputs.checksum }}
      artifact-checksum: ${{ steps.artifact-checksum.outputs.checksum }}

    steps:
      - name: Checkout main branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Checkout data branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: "data"
          path: "data"

      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

      - name: Install dependencies
        run: uv sync

      - name: Load cache
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: .cache/
          key: cache-${{ github.run_id }}
          restore-keys: |
            cache-

      - name: Print cache stats
        run: |
          uv run trakt-data cache-stats
        env:
          XDG_CACHE_HOME: .cache/

      - name: Prune cache
        run: |
          uv run trakt-data prune-cache
        env:
          TRAKT_DATA_CACHE_LIMIT: ${{ vars.TRAKT_DATA_CACHE_LIMIT }}
          TRAKT_DATA_CACHE_MIN_AGE: ${{ vars.TRAKT_DATA_CACHE_MIN_AGE }}
          XDG_CACHE_HOME: .cache/

      - name: Export metrics
        run: |
          uv run trakt-data metrics --output-dir data/
        env:
          TRAKT_CLIENT_ID: ${{ secrets.TRAKT_CLIENT_ID }}
          TRAKT_ACCESS_TOKEN: ${{ secrets.TRAKT_ACCESS_TOKEN }}
          XDG_CACHE_HOME: .cache/

      - name: Fetch deployed checksum
        id: deployed-checksum
        run: |
          curl --silent https://josh.github.io/trakt-data/checksum | tee "$RUNNER_TEMP/checksum"
          (echo -n "checksum=" ; head -n1 "$RUNNER_TEMP/checksum") >>"$GITHUB_OUTPUT"

      - name: Compute checksum
        id: artifact-checksum
        run: |
          find . -type f -not -path '*/\.*' -print0 | sort -z | xargs -0 sha256sum | sha256sum | awk '{print $1}' | tee "$RUNNER_TEMP/checksum"
          (echo -n "checksum=" ; cat "$RUNNER_TEMP/checksum") >>"$GITHUB_OUTPUT"
          mv "$RUNNER_TEMP/checksum" checksum
        working-directory: data/

      - name: Upload artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4.0.0
        with:
          path: data/

  deploy:
    needs: metrics
    if: ${{ needs.metrics.outputs.deployed-checksum != needs.metrics.outputs.artifact-checksum }}

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-slim

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4.0.5
